.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--baseColor);
	color: var(--mainText);
	.hero-links {
		ul {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			li {
				padding: 0.5em 1em;
			}
		}
	}
}
