.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--baseColor);
	color: var(--mainText);
	.hero-links {
		ul {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			li {
				padding: 0.5em 1em;
			}
		}
	}
	.brand {
		content: "";
		position: absolute;
		top: 2%;
		right: 5%;
		width: 200px;
		height: 200px;
		transform-origin: center center;
		background-image: url(../../assets/imgs/brandIdea.png);
		background-repeat: no-repeat;
		background-size: contain;
		animation-name: rotateElement;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		z-index: 3;
	}

	@keyframes rotateElement {
		from {
			transform: rotate(0);
		}

		to {
			transform: rotate(360deg);
		}
	}
}
