* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: utopia-std-headline, serif;
}

h4,
h5,
h6 {
	font-family: utopia-std, serif;
	font-weight: 700;
}

p {
	font-family: utopia-std, serif;
	font-weight: 400;
}
